body {
    font-family: Arial, sans-serif;
    background-color: #FAF8F6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#event-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 90%;
    padding: 20px;
    position: relative;
    text-align: center;
}

#event-card img {
    width: 100%;
    height: 20px;
    border-radius: 10px;
   
}

.event-info {
    margin-top: 20px;
}

.event-info h2 {
    margin: 0 0 10px 0;
    color: black;
}

.event-info p {
    margin: 10px 0;
    color: #666;
}

button {
    background-color: #01050a;
    color: #ffffff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #000000;
}

#close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    color: #000;
    font-size: 20px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

#confirm-button {
    margin-top: 20px;
    width: 100%;
}

#payment-details {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    margin: 20px 0;
    text-align: left;
}

#payment-details h3 {
    margin: 0 0 15px 0;
    color: black;
}

#payment-details label {
    display: block;
    margin: 10px 0 5px;
    color: black;
}

#payment-details input,
#payment-details select {
    width: calc(100% - 22px);
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #B76E79;
    border-radius: 4px;
}

